/*CSS*/
body {
  background: #3895a8;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  min-height: 100%;
}

.header {
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 5px;
  padding: 4px 8px;
  border-radius: 4px;
}

/* Enter YOUR lab styles after this line */
.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 125px;
  max-width: 225px;
  padding: 8px;
}
 
.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 225px;
}

.flex-outer button {
  margin-left: 0px;
  padding: 6px 12px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  border-radius: 3px;
}

.flex-inner li {
  width: 80px;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;
}

.flex-outer {
  max-width:800px;
  padding: 0 16px;
}









fetch("/api")
.then((response) => response.text())
.then((response) => {
    
    const fruits = ["Peach","Banana","Mango"];
    
    const checkboxes = document.querySelectorAll(".flex-inner li label");

    console.log(checkboxes.length, checkboxes[0])
    checkboxes.forEach((check, i) => {
        console.log(check, i)
        const text = check.innerText
        check.innerText = fruits[i]
    })
    
    const hellohead = document.querySelector('h1');
    hellohead.innerText = response;
    
    const col = 'rgb(236, 212, 255)'
    document.style.background = col;

    const checkboxfruits = document.querySelector('.checkbox-list-label');
    checkboxfruits.innerText = "Fruits";

    const margin = document.querySelector(".flex-outer")
    margin.style ="margin: 0 auto;"

    /*const content = document.querySelector(".button");
    content.innerHTML = "<style>body {background:#BFE5D9; padding: 50px 0;} body > * {background-color: #a5d6a7;}</style> OUCH!";*/
    
    /*const hellotitle = document.querySelector('title');
    hellotitle.innerHTML = response.text();
    /*margin.innerHTML = "<style>margin: 0 auto;</style>"*/ 
})






 /*checkbox.innerHTML = '<li><input type="checkbox" name="peach" id="peach"><label for="peach">Peach</label></li><li><input type="checkbox" name="banana" id="banana"><label for="banana">Banana</label></li><li><input type="checkbox" name="mango" id="mango"><label for="mango">Mango</label></li>' */