/* || General setup */

html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
  
  }
  
  body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
    background-color: #ECD4FF;
  }
  
  /* || typography */
  
  p, input, li {
    font-family: 'Roboto Condensed', sans-serif;
    color: #2a2a2a;
    flex-direction: row;
  }
  
  h1 {
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 10px grey;
    font-weight: 100;
  }
  
  p, li {
    font-size: 1.6rem;
    line-height: 1.5;
    list-style-type: none;
  }
  
  /* || header layout */
  
  .header {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
  }
  
  body > * {
    background-color: pink;
    padding: 1%;
  }
  
  .main, .header, section {
    background-color: #F2B8C6;
    padding: 1%;
  }
  
  h1 {
    flex: 5;
    text-transform: uppercase;
  }
  
  .header img {
    display: block;
    height: 60px;
    padding-top: 20.15px;
  }
  
  /* || main layout */

  .article, section {
    flex: 4;
  }
  
  button {
    margin-left: auto;
    padding: 8px 16px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px #ECD4FF;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
  }

  .flex-outer li,
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;   
    padding-right: 50px 
  }

  .flex-outer > li > label,
  .flex-outer li p {
    flex: 8px;
    max-width: 220px;
  }

  .flex-inner {
    padding: 0 8px;
    justify-content: space-between;  
  }
  
  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 220px;
  }

  .flex-inner li {
    width: 100px;
  }

  .flex-inner {
    justify-content: space-between;
  }