body{
    background-color: #878CF6;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 15px;
    padding: 15px;
    font-family: 'Baloo Da 2', cursive;
    color: #BB8CEB;
    background-color: #8A74D4;
    margin-left: 0px;
    margin-right: 0px;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

.header_image {
    order: 2;
    width: 300px;
    height: 200px;
}

.avatar_blurb {
    display: flex;
    flex-wrap: wrap;
    max-width: 320px;
    justify-content: center;
    margin-right: 15px;
}

.avatar_blurb p {
    font-family: 'Baloo Da 2', cursive;
    display: flex;
    align-items: center;
    padding: 20px;
    width: 300px;
    height: 20px;
    justify-content: center;
    margin: 10px;
    background-color: #BB8CEB;
}

.avatar_image {
    border: 1px solid #BB8CEB;
    border-radius: 4px;
    max-width: 320px;
    height: 288px;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.stats {
    background-color: #BB8CEB;
    max-width: 640px;
    padding: 10px;
    font-family: 'Baloo Da 2', cursive;
}

h2 {
    font-style: italic;
}

@media (max-width: 1000px){
    .wrapper {
        display: flex;
        justify-content: center;
    }

    .avatar_blurb {
        flex: 1 0 auto;
        margin-right: 0px;
        align-items: center;
        max-width: none;
        margin-bottom: 5px;
    }

    .container {
        justify-content: center;
    }
}

@media (max-width: 640px) {
    .container {
        justify-content: space-between;
    }

    .avatar_blurb {
        margin-right: 15px;
        flex: 1 0 auto;
        align-items: center;
        flex-direction: column;
        max-width: none;
        margin-bottom: 5px;
    }
}