body{
    background-color: #EDB73E;
}

header { 
    background-color: #F7AD40;

}

h1 {
    font-family: 'Baloo Da 2', cursive;
}

.header {
    color: #EDB73E;
    background-color: #ED593E;
    margin-bottom: 15px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }

.header_image {
    order: 2;
}

.wrapper {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
}

.avatar_image {
    border: 1px solid #F77840;
    border-radius: 4px;
}

.content_container {
    background-color: #F7AD40;
    max-width: 960px;
}

.avatar_blurb {
    display: flex;
    flex-flow: column wrap;
}

.stats {
    display: flex;
    flex-flow: row wrap;
    font-family: 'Baloo Da 2', cursive;
}
