body{
    background-color: #FCAE79;
}

/*header { 
    background-color: #F7AD40;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;

}*/

.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Baloo Da 2', cursive;
    color: #F2D474;
    background-color: #F29574;
    margin-left: 0px;
    margin-right: 0px;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  /*
  .header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 15px;
    font-family: 'Baloo Da 2', cursive;
    color: #EDB73E;
    background-color: #ED593E;
    margin-left: 0px;
    margin-right: 0px;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }*/
.header_image {
    order: 2;
    width: 30%;
    height: auto;
}

.avatar_blurb {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    max-width: 320px;
    justify-content: center;
}

.avatar_blurb p {
    font-family: 'Baloo Da 2', cursive;
    display: flex;
    align-items: center;
    padding: 20px;
    width: 200px;
    justify-content: center;
    margin: 3px;
    background-color: #FCD079;
}

.avatar_image {
    border: 1px solid #FCD079;
    border-radius: 4px;
    max-width: 320px;
    height: 200px;
    width: 300px
    /*display: flex;
    flex-wrap: wrap;*/

}

.wrapper {
    display: flex;
    /*flex-flow: row wrap;*/
    justify-content: center;
}

.content_container {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: flex-start; */
}

.stats {
    background-color: #FCD079;
    max-width: 640px;
    padding: 10px;
    font-family: 'Baloo Da 2', cursive;
    /*display: inline-flex;
    flex-flow: column wrap;
    font-family: sans-serif;
    flex: 1 2/3;*/
}

h3 {
    font-style: italic;
}

@media (max-width: 1000px){
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 960px;
    }

    /*.content_container {
        max-width: 960px;
        align-items: center;
        justify-content: center;
    }*/

    .avatar_blurb {
        /*font-family: sans-serif;*/
        /*display: inline-flex;*/
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        flex: 1/3 1;
        flex-direction: column;
        /*max-width: 320px;*/
        margin-bottom: 20px;
    }
}
