body{
    background-color: #878CF6;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 200;
}

*, *:before, *:after {
    box-sizing: inherit;
  }
  
.search-form {
max-width: 400px;
margin: 50px auto;
}

.suggestions {
    margin: 0;
    padding: 0;
    position: relative;
    /*perspective: 20px;*/
}

.suggestions li {
    background-image: linear-gradient(purple, blue);
    list-style: none;
    border-bottom: 1px solid #D8D8D8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 0;
    padding: 20px;
    transition: 0.2s;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
} 


  .suggestions li:nth-child(even) {
    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
    background: linear-gradient(to bottom, purple 0%, blue 100%);
  }
  
  .suggestions li:nth-child(odd) {
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
    background: linear-gradient(to top,  pink 0%,white 100%);
  }

.header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 15px;
    padding: 15px;
    font-family: 'Karla', sans-serif;
    color: #BB8CEB;
    background-color: #8A74D4;
    margin-left: 0px;
    margin-right: 0px;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

.wrapper {
    display: flex;
    justify-content: center;
}

.container {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

li h2 {
    font-style: italic;
}

@media (min-width: 1600px){
    .wrapper {
        display: flex;
        justify-content: center;
    }

    .container {
        justify-content: center;
    }
}

@media (max-width: 640px) {
    .container {
        justify-content: space-between;
    }
}
